<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="commonjs">
            <script>
                var resizefunc = [];
            </script>
            <!-- Main -->
            <script th:src="@{/bootstrap/js/jquery.min.js}"></script>
            <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/bootstrap/js/detect.js}"></script>
            <script th:src="@{/bootstrap/js/fastclick.js}"></script>
            <script th:src="@{/bootstrap/js/jquery.slimscroll.js}"></script>
            <script th:src="@{/bootstrap/js/jquery.blockUI.js}"></script>
            <script th:src="@{/bootstrap/js/waves.js}"></script>
            <script th:src="@{/bootstrap/js/wow.min.js}"></script>
            <script th:src="@{/bootstrap/js/jquery.nicescroll.js}"></script>
            <script th:src="@{/bootstrap/js/jquery.scrollTo.min.js}"></script>

            <script th:src="@{/bootstrap/js/jquery.app.js}"></script>
        </div>
    </body>
</html>