<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="common/commoncss :: commoncss"/>
    </head>
    <body>

        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
                <div class="panel-heading bg-img">
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> Create a new Account </h3>
                </div>

                <div class="panel-body">
                    <form id="registerForm" class="form-horizontal m-t-20" action="/user/registerUser">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="username" name="username" class="form-control input-lg" type="text" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="password" name="password" class="form-control input-lg" type="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="phone" name="phone" class="form-control input-lg" type="number" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox-signup" type="checkbox" checked="checked">
                                    <label for="checkbox-signup">
                                        I accept
                                        <a href="#">Terms and Conditions</a>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center m-t-40">
                            <div class="col-xs-12">
                                <button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Register</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30">
                            <div class="col-sm-12 text-center">
<!--                                返回上一页-->
                                <a href="javascript :history.back(-1)">Already have account?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:include="common/commonjs :: commonjs"></div>

        <!-- sweetalert js -->
        <script th:src="@{/sweetalert/sweetalert.min.js}"></script>

        <script>
            $(function () {
                $('#registerForm').submit(function () {
                    let params = {
                        username: document.getElementById('username').value,
                        password: $('#password').val(),
                        phone: $('#phone').val()
                    };
                    // send ajax request
                    $.post('[[${#request.getContextPath()}]]/user/registerUser', params, function (data) {
                    // {"msg":"Register Success","operate":true}
                        alert(data.msg);
                        if (data.operate) {
                            window.location.href = '[[${#request.getContextPath()}]]/';
                        }
                    }, 'json');
                    return false;
                });
            });
        </script>

    </body>
</html>
