<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/commoncss :: commoncss"/>
    <!-- bootstrap table css -->
    <link th:href="@{/bootstrap/table/bootstrap-table.min.css}" rel="stylesheet" type="text/css">
    <!-- modal css -->
    <link th:href="@{/bootstrap/plugins/modal-effect/component.css}" rel="stylesheet" type="text/css">
</head>
<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div th:include="common/topbar :: topbar" class="topbar"></div>
    <!-- Top Bar End -->

    <!-- Left Sidebar Start -->
    <div th:include="common/sidebar :: sidebar" class="left side-menu"></div>
    <!-- Left Sidebar End -->

    <!-- right Content Start -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">消息列表</h4>
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a href="#">ISS-Cloud-Disk</a>
                            </li>
                            <li class="active">站内消息</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <!-- 数据表格 -->
                                    <div id="toolbar" class="toolbar">
                                        <button id="btn_delete" class="btn btn-default" onclick="alert('.... todo ')">
                                            <span class="fa fa-trash-o" aria-hidden="true"/>&nbsp;批量删除
                                        </button>
                                        <button id="Warning"  class="btn btn-default" onclick="alert('.... todo')">
                                            <span class="md md-folder-open"  aria-hidden="true"/>&nbsp;（警告）Warning
                                        </button>
                                    </div>
                                    <table id="msgTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Row -->
            </div> <!-- container -->
        </div> <!-- content -->

        <!-- footer -->
        <footer class="footer text-right">
            2020 © iss-cloud-disk.
        </footer>

    </div>
    <!-- right Content Start End -->

</div>
<!-- END page -->

<div th:include="common/commonjs :: commonjs"></div>

<!-- bootstrap table js -->
<script th:src="@{/bootstrap/table/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>

<!-- modal-effect js -->
<script th:src="@{/bootstrap/plugins/modal-effect/classie.js}"></script>
<script th:src="@{/bootstrap/plugins/modal-effect/modalEffects.js}"></script>

<!-- sweetalert js -->
<script th:src="@{/sweetalert/sweetalert.min.js}"></script>

<script>
    $(function () {
        $('#msgTable').bootstrapTable({
            url: '[[${#request.getContextPath()}]]/msg/getMessages',
            cache: false, sidePagination: 'server', uniqueId: "id",
            pagination: true, pageNumber: 1, pageSize: 10, pageList: [10, 20, 30, 40, 50],
            columns: [
                {checkbox: true, visible: true},                  //是否显示复选框
                {field: 'id', title: '编号', align: 'center'},
                {
                    field: 'content', title: '内容', align: 'center',
                    formatter: function (value, row, index) {
                        let s = '<a href="#" onclick="view(\''
                            + row.id + '\', \''
                            + row.file.fileName + '\', \''
                            + row.file.filePath + '\')">';
                        return value.replace('#', s) + '</a>!';
                    }
                },
                {field: 'fromUser.username', title: '发送人', align: 'center'},
                {field: 'createTime', title: '发送时间', align: 'center'},
                {
                    field: 'id', title: '操作', align: 'center',
                    formatter: function (value, row, index) {
                        return '<a href="#" onclick="neglect(\'' + value + '\')">忽略分享</a>';
                    }
                }
            ],
            queryParams: function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                params = {
                    pageNum: (params.offset / params.limit) + 1,    //页码
                    pageSize: params.limit                         //页面大小
                };
                return params;
            }
        });
    });

    function view(id, fileName, filePath) {
        $.get('[[${#request.getContextPath()}]]/msg/update', {id}, function (result) {
            if (result.operate) {
                $('#messages').text($('#messages').text() - 1);
            }
            swal({
                title: fileName, text: filePath, icon: "info", buttons: ["忽略", "同意分享"],
            }).then((isShare) => {
                if (isShare) {
                    $.get('[[${#request.getContextPath()}]]/msg/update', {id}, function (result) {

                    }, 'json');
                }
            });
        }, 'json');
    }
    function neglect(id) {
        console.log(id);
        $.post('[[${#request.getContextPath()}]]/msg/neglect', {id}, function (result) {
            if (result.operate) {
                swal('neglect!', result.msg, 'success');
                $('#msgTable').bootstrapTable('refresh');
            } else {
                swal('Failure!', result.msg, 'error');
            }
        }, 'json');
    }

</script>

</body>
</html>