<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/commoncss :: commoncss"/>
    <!-- bootstrap table css -->
    <link th:href="@{/bootstrap/table/bootstrap-table.min.css}" rel="stylesheet" type="text/css">
    <!-- modal css -->
    <link th:href="@{/bootstrap/plugins/modal-effect/component.css}" rel="stylesheet" type="text/css">
    <!-- tree css -->
    <link th:href="@{/treeview/bootstrap-treeview.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/bootstrap/plugins/jquery-multi-select/multi-select.css}" rel="stylesheet" type="text/css">
</head>

<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
    <div th:include="common/topbar :: topbar" class="topbar"></div>
    <!-- Top Bar End -->

    <!-- Left Sidebar Start -->
    <div th:include="common/sidebar :: sidebar" class="left side-menu"></div>
    <!-- Left Sidebar End -->

    <!-- right Content Start -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <!-- Start container -->
            <div class="container">

                <!-- Page-center -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: flex;justify-content: space-between;align-items: center;">
                                <!--                                <h3 id="pathText" class="panel-title">文件列表</h3>-->
                                <!--                                &lt;!&ndash; 全文检索 &ndash;&gt;-->
                                <!--                                <form class="form-inline" role="form">-->
                                <!--                                    <a>ISS-Cloud-Disk / 我的分享</a>-->
                                <!--                                </form>-->
                                <h4 class="pull-left page-title">文件列表</h4>
                                <ol class="breadcrumb pull-right">
                                    <li>
                                        <a href="#">ISS-Cloud-Disk</a>
                                    </li>
                                    <li class="active">我的分享</li>
                                </ol>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <!-- 数据表格 -->
                                    <div id="toolbar" class="toolbar">
                                    </div>
                                    <table id="fileTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 刷新页面，初始化HDFS的路径 type="hidden" -->
                <input id="currentPath" hidden="hidden" th:value="${session.user.getPath()}"/>

                <!-- uploadFile form -->
                <div th:include="view/uploadFile :: uploadFile" class="row"></div>


            </div> <!-- container -->
        </div> <!-- content -->

        <footer class="footer text-right">
            2021 © iss-cloud-disk.
        </footer>

    </div>
    <!-- right Content Start End -->
</div>

<div th:include="common/commonjs :: commonjs"></div>

<!-- bootstrap table js -->
<script th:src="@{/bootstrap/table/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>

<!-- modal-effect js -->
<script th:src="@{/bootstrap/plugins/modal-effect/classie.js}"></script>
<script th:src="@{/bootstrap/plugins/modal-effect/modalEffects.js}"></script>

<!-- sweetalert js -->
<script th:src="@{/sweetalert/sweetalert.min.js}"></script>

<!-- tree js -->
<script th:src="@{/treeview/bootstrap-treeview.js}"></script>

<script th:src="@{bootstrap/plugins/jquery-multi-select/jquery.multi-select.js}"></script>
<script th:src="@{bootstrap/plugins/jquery-multi-select/jquery.quicksearch.js}"></script>

<script>
    $('#photo_sidebar').attr('src', '[[${#request.getContextPath()}]]/bootstrap/images/[[${session.user.photo}]]');

    $(function () {
        $('#fileTable').bootstrapTable({
            url: '[[${#request.getContextPath()}]]/file/getShareFiles',
            method: 'get',
            cache: false,
            pagination: true,
            pageNumber: 1, //初始化加载第一页，默认第一页,并记录
            pageSize: 10, //每页的记录行数（*）
            pageList: [2,10, 25, 50, 100], //可供选择的每页的行数（*）
            sidePagination: 'server',
            clickToSelect: true,
            uniqueId: "id",
            columns: [
            {checkbox: true, visible: true}, //是否显示复选框
            {field: 'id', title: '文件编号', align: 'center'},
            {field: 'fileName', title: '文件名称', align: 'center'},
            {
                field: 'fileType', title: '文件类型', align: 'center',
                formatter: function (value, row, index) {
                    var type = '';
                    switch (value) {
                        case 1 :
                            type = '图片';
                            break;
                        case 2 :
                            type = '文档';
                            break;
                        case 3 :
                            type = '音乐';
                            break;
                        case 4 :
                            type = '视频';
                            break;
                        case 5 :
                            type = '文件夹';
                            break;
                        default :
                            type = '未知类型';
                    }
                    return type;
                }
            },
            {field: 'filePath', title: '分享路径', align: 'center'},
            {
                field: 'toUsers', title: '分享对象', align: 'center'
            },
            {field: 'createTime', title: '分享时间', align: 'center'},
            {
                field: 'id', title: '操作', align: 'center',
                formatter: function (value, row, index) {
                    return ' <a href="#" class="btn btn-primarybtn-sm active" onclick="downloadFile(\'' + row.fileName +'\',\''+row.filePath + '\')">下载</a> '+
                    ' <button type="button" class="btn btn-default btn-sm active" onclick="cancelShare(\'' + value +'\',\''+row.createTime + '\')">删除分享</button>';
                }
            }
        ],
            queryParams: function (params) {//这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            params = {
                pageNum: (params.offset / params.limit) + 1, //页码
                pageSize: params.limit, //页面大小
            currentUser: '[[${session.user.getId()}]]'//页面大小
        };
            return params;
        }
    });
    });

    var folders = [];

    // 在页面顶部生成文件夹路径，并展开文件夹下的所有文件
    function getChilden(id, filePath, fileName) {
        var folder = {
            id: id,
            filePath: filePath,
            fileName: fileName
        };
        folders.push(folder);

        let html = createHtml();

        $('#pathText').html('');
        $('#pathText').html(html);
        getFilesByPid(id, filePath);
    }

    // 点击全路径中的某一子路径
    function clickPath(obj) {
        for (let i = 0; i < folders.length; i++) {
            if (obj.id == folders[i].id) {
                folders.splice(i + 1, folders.length - i - 1);
            }
        }

        let html = createHtml();

        $('#pathText').html('');
        $('#pathText').html(html);
        getFilesByPid(obj.id, $(obj).data('path'))
    }

    // 返回上一级
    function goBack() {
        if (folders.length == 1) {
            window.location.href = '[[${#request.getContextPath()}]]/forward?html=files';
        } else {
            folders.pop();
        }
        let html = createHtml();
        let obj = folders[folders.length - 1];
        $('#pathText').html('');
        $('#pathText').html(html);
        getFilesByPid(obj.id, obj.filePath);

    }

    // 生成顶部文件夹路径公共方法 一
    function createHtml() {
        let allFilesPath = '<a href="[[${#request.getContextPath()}]]/forward?html=files">全部文件</a>';
        let goBack = '<a href="javascript:#;" onClick="goBack()">返回上一级</a>';
        let split = '<div style="display: inline">&nbsp;&gt;&nbsp;</div>';

        let html = '';
        if (folders.length == 1) {
            html = split + createPath(folders[0].id, folders[0].filePath, folders[0].fileName, true);
        } else if (folders.length > 5) {
            let last = folders.length - 1;
            for (let i = folders.length - 4; i < last; i++) {
                html += split + createPath(folders[i].id, folders[i].filePath, folders[i].fileName, false);
            }
            html += split + createPath(folders[last].id, folders[last].filePath, folders[last].fileName, true);
            allFilesPath = ' ... ';
        } else {
            for (let i = 0; i < folders.length; i++) {
                if (i != folders.length - 1) {
                    html += split + createPath(folders[i].id, folders[i].filePath, folders[i].fileName, false);
                } else {
                    html += split + createPath(folders[i].id, folders[i].filePath, folders[i].fileName, true);
                }
            }
        }
        return goBack + ' | ' + allFilesPath + html;
    }

    // 生成顶部文件夹路径公共方法 二
    function createPath(id, filePath, fileName, flag) {
        let span = '<span id="' + id + '" data-path="' + filePath + '">' + fileName + '</span>';
        let a = '<a id="' + id + '" href="javascript:#;" onClick="clickPath(this)" data-path="' + filePath + '">' + fileName + '</a>'
        return flag ? span : a;
    }

    /**
     * 展开文件下的所有文件
     * @param id 当前文件夹 id
     * @param filePath 当前文件夹 hdfs 路径
     */
    function getFilesByPid(id, filePath) {
        $('#currentPath').val(filePath);
        // $('[name="filePath"]').attr('value', filePath);
        $('[name="pid"]').attr('value', id);
        let params = {
            url: '[[${#request.getContextPath()}]]/file/getFilesByPid?pid=' + id,
        }
        $('#fileTable').bootstrapTable('refresh', params);
    }

    // 上传
    function fileUpload() {
        $.ajax({
            url: "[[${#request.getContextPath()}]]/file/insertFile",
            type: "POST",
            data: new FormData($('#fileForm')[0]),
            processData: false,// 告诉 jQuery 不要去处理发送的数据(必须设置)
            contentType: false, // 告诉 jQuery 不要去设置Content-Type请求头（必须设置）
            dataType: "json",
            success: function (result) {
                swal("Good Job!", result.msg, "success");
                $('#fileModal').modal('hide');
                $('#fileForm')[0].reset();
                $('#fileTable').bootstrapTable('refresh');
            }
        });
    }

    function cancelShare(id) {
        console.log(id);
        $.post('[[${#request.getContextPath()}]]/msg/delete', {id}, function (result) {
            if (result.operate) {
                swal('cancelShare!', result.msg, 'success');
                $('#fileTable').bootstrapTable('refresh');
            } else {
                swal('Failure!', result.msg, 'error');
            }
        }, 'json');
    }

    // function cancelShare(id,createTime) {
    //     console.log('id: '+id);
    //     console.log('createTime:'+createTime);
    //     var params ={
    //         "id":id,
    //         "createTime":createTime
    //     }
    //     $.get('[[${#request.getContextPath()}]]/file/cancelShare', params, function
    //         (result) {
    //         if (result.operate) {
    //             swal("Good Job!", result.msg, "success");
    //             $('#fileTable').bootstrapTable('refresh');
    //         }
    //     }, 'json');
    // }


    // 打开表单模态框
    function openModal(path, modal) {
        $('#' + path).val($('#currentPath').val());
        $('#' + modal).modal('show');
    }

    // 回显文件名，并判断文件类型
    function reFile(obj) {
        let filename = obj.value.substring(obj.value.lastIndexOf('\\') + 1);
        $('#refile').val(filename);

        let type = filename.slice(filename.lastIndexOf(".") + 1).toLowerCase();
        if ('jpg,jpeg,png,gif'.indexOf(type) != -1) {
            $('input:radio[value=1]').attr("checked", true);
        } else if ('txt,doc,docx,pdf,ppt,pptx,xls,xlsx'.indexOf(type) != -1) {
            $('input:radio[value=2]').attr("checked", true);
        } else if ('mp3,wma'.indexOf(type) != -1) {
            $('input:radio[value=3]').attr("checked", true);
        } else if ('avi,rmvb,mov,mp4,flv'.indexOf(type) != -1) {
            $('input:radio[value=4]').attr("checked", true);
        } else {
            $('input:radio[value=6]').attr("checked", true);
        }

        $('#filePath').val($('#currentPath').val() + '/' + filename);
    }

    // 提示框公共参数
    function getSwalParams() {
        return {
            title: "Are you sure?",
            icon: "warning",
            buttons: ["丢回收站！", "狠心删除！"],
            dangerMode: true
        }
    }

    function keySearchFile() {
        console.log(' keySearch :  '+$('#keySearch').val());
        $('#fileTable').bootstrapTable('refresh');
    }

</script>

</body>
</html>